<div class="bg-light">
  <img src="../../assets/images/funnlTransparentBlack.png" alt="Logo funnl transparent black">
</div>
<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
  <label ngbButtonLabel class="btn-secondary">
    <input ngbButton type="radio" [value]="1"> Home
  </label>
  <label ngbButtonLabel class="btn-secondary">
    <input ngbButton type="radio" [value]="middle"> Create
  </label>
  <label ngbButtonLabel class="btn-secondary offset-4">
      <input ngbButton type="radio" [value]="1"> Messages
    </label>
    <label ngbButtonLabel class="btn-secondary">
      <input ngbButton type="radio" [value]="middle"> Notifications
    </label>
</div>