nav {
    justify-content: center;
    /* margin-top: auto; */
}

#funnlLogo {
    max-width: 120px;
    max-height: 120px;
}

#avatar {
    height: 60px;
    width: 60px;
}

.d-inline-block {
    margin-top: 10px;
}

li {
    padding: 10px;
}

a {
    color : white;
}

a:hover {
    text-decoration: underline;
}

.d-inline-block a {
    color: black;
}