#funnlLogo {
    max-width: 120px;
    max-height: 120px;
}

#avatar {
    height: 60px;
    width: 60px;
}

li {
    padding: 10px;
    color: white;
}

/* a:hover {
    color: rgb(0, 0, 0);
} */

/* button:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
} */

.d-inline-block a {
    color: rgb(99, 102, 106);
}