<div class="navbar bgfunnlGray">
    <ul class="navbar-nav mb-auto text-center">
        <li class="nav-item">
            <button type="button" class="btn mybtn-outline-primary">
                <a class="nav-link">My dashboard</a>
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn mybtn-outline-primary">
                <a class="nav-link">Challenges</a>
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn mybtn-outline-primary">
                <a class="nav-link">Ideas</a>
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn mybtn-outline-primary">
                <a class="nav-link">Community</a>
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn mybtn-outline-primary">
                <a class="nav-link">Resources</a>
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn mybtn-outline-primary">
                <a class="nav-link">Admin</a>
            </button>
        </li>
    </ul>
</div>
