<div class="container-fluid mt-50">
    <div class="row">
      <nav class="col-md-2 bg-light sidebar">
        <div class="sidebar-fixed">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="#">Dashboard</a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="#">Challenges</a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="#">Ideas</a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="#">Community</a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="#">Resources</a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="#">Admin</a>
            </li>
          </ul>
</div>

