<div class="container text-center border col-12">
    <div class="row">
      <div class="col-sm-2">
        <br/>
        <img src="../../assets/images/lightBlueAvatar.png" class="img-responsive" style="width:100%" alt="Image">
        <p>User Name<br/>
          Function<br/>
        </p>
        <button type="button" class="btn btn-outline-primary">Message me</button>
      </div>
      <div class="col-sm-6 text-left">
          <div class="well">
            <br/>
            <h5>Idea n°_</h5>
           <p class="description border">This is the description of idea n°_.</p>
          </div>
          <div class="well">
           <p>Theme</p>
           <p>Stage n°_</p>
           <div class="btn-group float-right" role="group" aria-label="Social">
              <button type="button" class="btn btn-outline-primary">Like</button>
              <button type="button" class="btn btn-outline-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary">Comment</button>
              <button type="button" class="btn btn-outline-primary">Enroll</button>
            </div>
          </div>
      </div>
      <div class="col-sm-4"> 
        <br/>
        <img src="../../assets/images/ideaStaticImg.png" class="img-responsive" style="width:100%" alt="Image">
        <p>Created on 21/11/2018</p>  
        <p>Seen 11 times</p>  
      </div>
    </div>
  </div>
  <br/>