/* You can add global styles to this file, and also import other style files */
.bgfunnlGray {
    background-color: rgb(99, 102, 106);
    color: white;
}

.bgfunnlBlue {
  background-color: rgb(45, 177, 255);
  color:white;
}

.bgfunnlYellow {
  background-color: rgb(246, 190, 0);
  color:rgb(0, 0, 0);
}

.container-fluid {
  padding: 0px;
}
/*
black = rgb(0, 0, 0);
yellow = rgb(246, 190, 0);
blue = rgb(45, 177, 255);
*/
